[Unit]
Description=write-boot-time.service

[Service]
Type=oneshot
ExecStart=/bin/write-boot-time.sh
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target

